/* css file for bilibili.com */

/* Home Page - Old */

/* video recommendation under home page header */
.bili-layout {
  display: none;
}

/*  footer of the main side which show all the legal information and stuff*/
.bili-footer {
  display: none;
}
.international-footer {
  display: none;
}

/* Home Page - Updated on 30 July 2022 */

/* Hide videos */
.bili-feed4-layout {
  display: none !important;
}

/* Buggy second header after video sections removed */
.header-channel-fixed {
  display: none !important;
}

/* Popular content 熱門視頻 */

/* hiding the whole content including tabs on top */
.popular-container {
  display: none !important;
}

/* Video Playing Page */

/* recommendations list on the right when playing video */
#reco_list {
  display: none;
}

/* ads and live recommendation under video recommendation list */
#right-bottom-banner,
#live_recommand_report {
  display: none;
}

/* on video recommendation shown when a video is finished playing */
.bilibili-player-ending-panel-box-videos,
.bpx-player-ending-related {
  display: none !important;
}

/* videos with same theme */
.video-sections-content-list {
  display: none;
}

/* recommend video */
.rcmd-list {
  display: none;
}
