/* css file for face.com */

/* Home Page - updated 17.08.2022 */

/* [aria-label="Stories"] {
  display: none !important;
} */

/* chatbox */
/* [data-testid="mwchat-tabs"] {
  display: none !important;
} */

/* chat sidebar */
/* .fbChatSidebar,
#BuddylistPagelet,
[data-pagelet="ChatTab"],
[aria-label="New Message"],
[aria-label="New message"],
.mqussk9c {
  display: none !important;
} */
